/*                                 FONTS                             */
@font-face {
    font-family: "DM Sans Regular";
    src: url("textfonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans Bold";
    src: url("textfonts/DMSans-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "DM Sans Regular", sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(8, 8, 8, 0.9), rgba(22, 21, 21, 0.3)), url("images/bg.jpg");
}

.container {
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.text-box {
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    max-width: 80rem;
}

.text-box__preheading {
    color: #ef9f43;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-family: "DM Sans Bold", sans-serif;
    margin-bottom: 1.5rem;
}

.text-box__heading {
    color: #fff;
    font-size: 5rem;
    font-family: "DM Sans Bold", sans-serif;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 4rem;
}

.text-box__subheading {
    color: #fff;
    max-width: 50rem;
}

.donate-form {
    margin-top: 4rem;
    width: 100%;
}

.donate-form input {
    display: inline-block;
    height: 5rem;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.donate-form input[type="text"],
.donate-form input[type="email"],
.donate-form input[type="number"] {
    background-color: #fafbfb;
    border: 1px solid #c7c7cc;
    margin-right: 1rem;
    width: 22%;
}

.donate-form input[type="submit"] {
    background-color: #ef9f43;
    color: #fff;
    font-weight: 600;
    letter-spacing: .6px;
    padding: 0 2rem;
    cursor: pointer;
    width: 27%;
}

/* MEDIA QUERIES - RESPONSIVENESS */

@media screen and (max-width: 768px) {
    .text-box__preheading {
        font-size: 1.55rem;
    }

    .text-box__heading {
        font-size: 4rem;
    }

    .text-box__subheading {
        font-size: 1.55rem;
    }

    .donate-form input {
        display: block;
    }

    .donate-form input[type="text"],
    .donate-form input[type="email"],
    .donate-form input[type="number"] {
        margin-right: 0;
        margin-bottom: 2rem;
        width: 95%;
    }

    .donate-form input[type="submit"] {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .text-box__heading {
        font-size: 3rem;
    }
}
